*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background: #c0bdbd;
}
form, .movie {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
form {
    font-size: 30px;
    font-weight: Bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input {
    width: 50%;
    padding: 1em;
    border-radius: 15px;
    border: none;
    box-shadow: inset black 0 0 5px;
}
form input, form label {
    margin: 1em;
}
form button {
    padding: 1em;
    margin: 1em 0;
    border-radius: 10px;
    font-weight: Bold;
    font-size: 20px;
    border: none;
    background: none;
    box-shadow: black 0 0 30px ;
    cursor: pointer;
}
form button:hover {
    background: skyblue;
}
form button:active {
    box-shadow: none;
}
.film {
    background: #7777ee;
    color: #000;
    padding: 2em;
    width: 30%;
    margin-bottom: 2em;
}
.film h2{
    text-decoration: underline;
    color: #750404;
}
.film p, .film h2{
    margin: 1em auto;
}
.date {
    font-size: 20px;
    font-style: italic;
}
.film p {
    font-size: 25px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.error {
    color: red;
    text-align: center;
    font-size: 40px;
    text-shadow: black 1px 1px 0px;
}
.fa-solid {
    font-size: 45px;
}
.fa-solid p{
    color: black;
    font-size: 20px;
}
.fa-thumbs-up{
    color: green;
}
.fa-thumbs-down{
    color: rgb(190, 2, 2);
}